<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mit.raunak.fitnessnew">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Fitness New"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
                <activity android:name=".Chest" />
        <activity android:name=".Forearms" />
        <activity android:name=".Shoulder" />
        <activity android:name=".Legs" />
        <activity android:name=".Triceps" />
        <activity android:name=".Biceps" />
        <activity
            android:name=".Abs"
            android:label="@string/title_activity_abs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Back"
            android:label="Back"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".Splash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Beginscreen" />
        <activity android:name=".Registration" />
    </application>

</manifest>